---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ForWho from '../components/ForWho.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Authority from '../components/Authority.astro';
import Process from '../components/Process.astro';
import Trainings from '../components/Trainings.astro';
import Testimonials from '../components/Testimonials.astro';
import Blog from '../components/Blog.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Medykalni - Szkolenia i konsultacje dla personelu medycznego">
  <TopBar />
  <Header />
  <main>
    <Hero />
    <ForWho />
    <Problem />
    <Solution />
    <Authority />
    <Process />
    <Trainings />
    <Testimonials />
    <Blog />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
